* {
  font-family: 'Space Grotesk';
  font-weight: 500;
  font-size: 18px;
}

input {
  border: solid 1px;
  border-radius: 6px;
  padding: 5px 15px 5px 15px;
}

.image-bg {
  height: 100%;
}

.main-bg {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 180px;
}

.side-bg {
  width: 30%;
}

.main-page {
  /* background-image: url('images/main_background.jpg'); */
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  /* padding: 70px 30px 70px 30px; */
}

.card-container {
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 padding: 0px !important;
}

.front-card {
  background-image: url('images/bg-card-front.png');
  width: 370px;
  height: 200px;
  position: fixed;
  border-radius: 10px;
  top: 200px;
  left: 150px;
}

.front-card-header {
  padding: 20px 30px;
}

.front-card-body {
  padding: 20px 30px;
}

.card-number-field {
  font-size: 24px;
  padding-right: 10px;
  color: white;
}

.card-name {
  color: white;
  font-size: 13px;
}

.exp-date {
  color: white;
  font-size: 13px;
}

.back-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('images/bg-card-back.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 370px;
  height: 200px;
  position: fixed;
  border-radius: 10px;
  bottom: 375px;
  left: 260px;
}

.cvc-field {
  margin-left: 245px;
  padding-bottom: 5px;
}


.card-info-container {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.input-label {
  padding-bottom: 5px;
}


.expire-date > input {
  width: 35%;
  margin-right: 13px;
}


.expiring-info {
  flex-direction: column;
  display: flex;
}

.security-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.verification-code {
  max-width: 164px;
}