* {
  font-family: 'Space Grotesk';
  font-weight: 500;
  font-size: 18px;
}


.image-bg {
  height: 100%;
}

.main-bg {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-page {
  background-image: url('images/main_background.jpg');
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 70px 30px 70px 30px;
}

.card-container {
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 padding: 0px !important;
}

.front-card {
  width: 400px;
  height: 200px;
  position: fixed;
  border: 2px solid red;
}


.card-info-container {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.input-label {
  padding-bottom: 5px;
}


.expire-date > input {
  width: 35%;
  margin-right: 13px;
}


.expiring-info {
  flex-direction: column;
  display: flex;
}

.security-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.verification-code {
  max-width: 94px;
}